db_data/*

# Ignore .env files in both frontend and backend
.env
frontend/.env
backend/.env
backend/.env.production
backend/.env.docker

backend/vendor/*

frontend/node_modules
frontend/npm-debug.log
frontend/build